<div class="">
    <Navbar></Navbar>
    <div class="modal" :class="{'is-active': showModal}">
      <div v-on:click="showDetails(false)" class="modal-background"></div>

      <div class="btn-close-modal">
        <button v-on:click="showDetails(false)" class="delete" aria-label="close btn-style-close"></button>
      </div>

      <div class="modal-card">
        <header class="modal-card-head">
          <img id="img-modal" class="card-img-top border-radius" :src="dataModal.img" alt="Card image cap">
          <div class="content-header">
            <p class="content-header-title"><strong>{{ dataModal.name }}</strong></p>
            <div class="tags-lags">
              <span
                v-for="tag in dataModal.tags"
                :class="tag + ' tag is-link'"
              >
              {{ tag }}
              </span>
            </div>
          </div>
        </header>
        <section class="modal-card-body">
            <div class="content-github">
                <div class="data-git" v-show="dataModal.github.followers !== null">
                  <span><strong>Seguidores:</strong> {{ dataModal.github.followers }}</span>
                  <span><strong>Repositorios:</strong> {{ dataModal.github.repos }}</span>
              </div>  
              <div class="circle-animation" v-show="dataModal.github.followers === null"></div>
            </div>

            <div class="overflow-auto size-content-modal">
                <p> {{ dataModal.desc }} </p>
            </div>
        </section>
        <footer class="modal-card-foot">
          <a class="link-default" :href="dataModal.urlyoutube">
            <i class="m-btn fa fa-youtube-play" style="font-size:48px; color:rgb(48, 40, 63);"></i>
          </a>
          <a class="link-default" :href="'http://github.com/' + dataModal.github.username">
              <i class="m-btn fa fa-github" style="font-size:48px; color:rgb(48, 40, 63);"></i>
          </a>
          <a v-on:click="goDetails(dataModal.github.username)" class="link-default">
            <i class="m-btn fa fa-info-circle" style="font-size:48px; color:rgb(48, 40, 63);"></i>
          </a>
        </footer>
      </div>
    </div>

    <div class="title-project columns">
        <div class="column">
          <h1 class="h1-content-home">DevContent</h1>
          <h3 class="ml-2">O objetivo dessa página é centrtalizar os melhores conteúdos de tecnologia do Brasil </h3>  
        </div>

        <div class="column search-default">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input
                v-model="search"
                v-on:keyup.enter="goSearch()"
                class="input"
                type="text"
                placeholder="Digite o que você procura">
            </div>
            <div class="control">
              <button class="button" v-on:click="goSearch()">
                <i class="fa fa-search" style="color: var(--bg-primary-default);"></i>
              </button>
            </div>
          </div>
        </div>
    </div>


    <div class="new-news">
      <div class="card border-radius">
        <div class="card-content">
          <span class="main-star">
            <li class="fa fa-star" style="color: rgb(230, 208, 17); font-size: 40px;"></li>
          </span>
          <div class="columns">
            <div class="column is-one-third">
              <img
                 v-on:click="goDetails(topChannel.usernamegit)"
                class="img-default card-img-top border-radius"
                :src="topChannel.img"
                alt="Card image cap"
              >
            </div>
            <div class="column column-content-news">              
              <div class="tags-lags">
                <span
                  v-for="tag in topChannel.tags"
                  :class="tag + ' tag-new-news tag is-link'"
                >
                {{ tag }}
                </span>
              </div>
              <p class="title">
                {{ topChannel.name }}
              </p>
              <p class="subtitle">
                {{ topChannel.desc }}
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    
    <div class="channels-list">
        <div
          v-for="channel in channels"
          class="shadow-default channel-item"
        >
        <div class="card padding-card border-radius">
            <img v-on:click="showDetails(true, channel)" class="img-default card-img-top border-radius" :src="channel.img" alt="Card image cap">
            <h5 class="card-header-default"><strong>{{ channel.name }}</strong></h5>
            <p class="card-text card-text-size">{{ channel.desc.substr(0, 100) }} ... </p>
            <a class="link-default" :href="channel.urlyoutube">
              <i class="m-btn fa fa-youtube-play" style="font-size:48px; color:rgb(48, 40, 63);"></i>
            </a>
            <a class="link-default" :href="'http://github.com/' + channel.usernamegit">
              <i class="m-btn fa fa-github" style="font-size:48px; color:rgb(48, 40, 63);"></i>
            </a>
          </div>
        </div>

    </div>

  <div class="footer-project">
  </div>    

</div>