@import url('./about.css');
@import url('./colors.css');
@import url('./general-setups.css');
@import url('./langs-colors.css');

.border-radius {
    border-radius: var(--border-radius-default);
}

.tag-recomendation {
    color: white;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 30px;
    font-size: 12px;
}

.child-color-white > a {
    color: white !important;
}