.python{ background-color: rgb(199, 179, 0) !important; }
.node{ background-color: rgb(2, 160, 55) !important; }
.nodejs{ background-color: rgb(2, 160, 55) !important; }
.javscript{ background-color: rgb(1, 94, 39) !important; }
.ruby{ background-color: rgb(85, 0, 85) !important; }
.php{ background-color: rgb(47, 0, 75) !important; }
.rust{ background-color: rgb(49, 37, 0) !important; }