.content-body-title {
    padding: 10px;
    margin-top: 50px;
    background-color: white;
}

.global-profile {
    background-color: rgba(255, 255, 255);
}

.data-profile {
    padding: 10px;
    padding-left: 40px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

.img-details{
    border-radius: var(--border-radius-default);
}

.margin-rigth {
    margin-right: 5px;
}

.content-detail {
    margin-left: 20px;
    margin-top: 50px;
    min-height: 100vh;
    padding-right: 30px;
}

.stars-proj {
    margin-top: 10px;
}

.margin-top {
    margin-top: 10px;
}