<div class="">
    <Navbar></Navbar>
    
      <div class="content-body-title">

      </div>

    <div class="tile is-ancestor">
      <div class="tile is-vertical is-4 global-profile">
        <div class="tile is-info">
          <div class="data-profile">
            <img class="img-details" :src="channel.img" alt="">
            <div class="tags-lags">
              <span
                v-for="tag in channel.tags"
                :class="tag + ' tag is-link'"
              >
              {{ tag }}
              </span>
            </div>
            <h1 class="title"> {{ channel.name  }} </h1>
            <h2 class="subtitle is-6"> {{ channel.desc  }} </h2>
            <div class="social-media">
              <ul>
              </ul>
            </div>
          </div>
        </div>
    </div>

     <div class="columns content-detail">
      <div class="column">
        <h1 class="title">Projetos</h1>
        
        <div class="repos-columns">
          <div
            v-for="repo in repos"
            class="card"            
          >

          <div class="card margin-top">
            <header class="card-header">
              <p class="card-header-title">
                {{ repo.name }}
              </p>
              <span class="stars-proj">
                {{ repo.stargazers_count }}
                <li class="fa fa-star"></li>
              </span>
              <a :href="repo.html_url" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">
                <span class="tag is-link" v-if="repo.language !== null">
                  {{ repo.language }}
                </span><br>
                {{ repo.description }}
                <br>
              </div>
            </div>
            <footer class="card-footer">
              <a :href="repo.html_url" class="card-footer-item">ver repositório</a>
            </footer>
          </div>
        </div>
        </div>

      </div>
     </div>
    </div>

</div>